html {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #0e1427;
  color: #fff;
  position: relative;
}

/* div {
  margin: 1rem;
  font-size: 1rem;
} */

.cool {
  display: block;
  margin: 0;
  position: relative;
  transform: rotate(-90deg);
  left: 40%;
/* top: -10%; */
}

.keep {
  /* font-family: Kanit; */
  margin: 0;
  opacity: .2;
/* font-size: 7em; */
  position: absolute;
  width: 100%;
}

.keep-2 {
  top: 7.5rem;
}

.yousoican, .me {
  top: 8rem;
  position: absolute;
  width: 90%;
}
.yousoican

.me {
  margin-top: 5rem;
}

main {
  position: relative;
}

.dpr, .legacy {
  font-family: "Open Sans";
  position: absolute;
  top: 16rem;
  background-color: #900;
  transform: skewY(20deg);
}

.legacy {
  left: 4rem;
  background-color: #c90;
  color: #000;
}

.imean {
  transform: skewY(20deg);
}

.dont {
  /* text-align: right;
  padding: 1rem;
  width: 60%; */
  background-color: #900;
}

.imean2 {
  text-align: right;
  width: 60%;
  background-color: #900;
}
