html {
  font-family: Kanit, sans-serif;
}

body {
  background-color: #0e1427;
  color: #fff;
  position: relative;
}

div {
  margin: 1rem;
  text-align: center;
  font-size: 1rem;
}

.cool {
  margin: 0;
  position: relative;
  transform: rotate(-90deg);
  left: 40%;
  top: -10%;
}

.keep {
  margin: 0;
  opacity: .2;
  font-size: 7em;
  position: absolute;
  width: 100%;
}

.keep-2 {
  margin-top: 5rem;
}

.yousoican, .me {
  margin-top: 7.5rem;
  position: absolute;
  width: 90%;
}

.me {
  margin-top: 10rem;
}

main {
  position: relative;
}

.dpr, .legacy {
  position: absolute;
  top: 12rem;
  background-color: #900;
  margin-top: 16rem;
  transform: skewY(20deg);
}

.legacy {
  left: 6rem;
  background-color: #c90;
  color: #000;
}

.imean {
  transform: skewY(20deg);
}

.dont {
  text-align: right;
  padding: 1rem;
  width: 60%;
  background-color: #900;
}

h1 {
  text-align: right;
  padding: .3rem;
  width: 60%;
  background-color: #900;
}
